#wrapper {
    color: var(--main-color);
    padding: 150px 50px 50px;
}

#wrapper h1 {
    padding: 20px;
    font-size: 60px;
}

:root {
    --cal-background: rgb(77, 97, 123);
  }

.weekdays {
    display: none;
}
.mobileWeekdays {
    display: flex;
    background-color: white;
    color: black;
    border: none;
}

.weekdays div {
    flex: 1;
    font-size: 25px;
    text-align: center;
    text-transform: capitalize;
}

.weeks {
    /*height: 550px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.days, .extraDays {
    height: 200px;
    flex: 1;
    margin: 5px;
    color: white;
    font-size: 30px;
    position:relative;
}
.days {
    background-color: var(--cal-background);
}
.days>span {
    padding: 5px;
    display: inline-block;
    width: 100%;
    background-color: black;
}

.days>span:hover {
    cursor: auto;
}
.openDay {
    height: auto;
}

.openDay .button {
    transform: rotate(180deg);
}


.openDay .slot-wrapper {
    display: block;
}

.button {
    color: white;
    float: right;
    position: relative;
    top: 8px;
    font-size: 35px;
}
.button:hover {
    cursor: pointer;
}

.extraDays {
    background-color: rgb(144, 167, 194);
}

.days:hover {
    background-color: var(--main-color);
    cursor: pointer;
}
.days:hover .reserved{
    background-color: black;
}

.slots {
    border-top: 1px solid darkgray;
    font-size: 12px;
    padding: 8px;
}

.slot-wrapper{
    display: none;
}

.reserved {
    background-color: var(--main-color);
}

@media (min-width: 769px) {
    .weeks{
        flex-direction: row;
    }
    .weekdays{
        display: flex;
        flex-direction: row;
    }
    .mobileWeekdays {
        display: none;
    }
}

@media (width: 1024px) {
    .weeks {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .mobileWeekdays {
        display: flex;
        background-color: white;
        color: black;
        border: none;
    }
    .weekdays {
        display: none;
    }
}
@media (max-width: 500px) {
    #wrapper h1{
    font-size: 20px;
}
    .mobileWeekdays{
        font-size: 18px;
    }

    /*.days {*/
    /*margin-top: 100px;*/
    /*}*/
}
